.User_Menu {
    display: flex;
    justify-content: space-between;
    background-color: #c10000cd;
    color: white;
}

.User_Menu nav {
    display: flex;
    justify-content: space-between;
}

.User_Menu ul {
    display: flex;
    justify-content: space-between;
}

.User_Menu li {
    margin: 0 20px;
}