.side-drawer {
    height: 100%;
    background: white;
    box-shadow: 1px 0 7px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-102%);
    transition: transform 0.3s ease;
}

.side-drawer.open {
    transform: translateX(0);
}

.side-drawer-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-drawer ul {
    height:100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.side-drawer li {
    margin: 0.5rem 0;
}

.side-drawer a {
    color: #373737;
    text-decoration: none;
    font-family: "Overpass", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 10px;
}

.side-drawer-button{
    background: #373737;
    color: white;
    padding:15px 10px;
    margin: 0;
    font-family: "Overpass", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
}

.side-drawer a:hover,
.side-drawer a:active {
    color: orange;
}

@media (min-width: 769px) {
    .side-drawer {
        display: none;
    }
}