.adminMember {
    padding: 0 50px;
    border-top: 0.5px solid #80808080;
    background: white;
}

.alwaysDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 14px 0
}

.photoInfo {
    display: flex;
    align-items: center;
}

.nameMembership {
    margin: 0;
}

.nameMembership h2 {
    margin: 0;
}

.photoWrapper {
    display: none;
    background: #ccc;
    border-radius: 50%;
    width:75px;
    height:75px;
    overflow: hidden;
    border: 1px solid #80808080;
}

.photoWrapper img {
    width: 75px;
    height: 75px;
    object-fit: cover;
}

.moreInfoToggle{
    height: 30px;
    width: 30px;
    /* background: purple; */
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moreMemberInfo {
    background: white;
    padding-bottom: 14px;
}

.Hide {
    height:0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.Display {
    height: 100%;
}

.MoreMemberInfoFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hiddenMemberInfo p{
    display: flex;
    flex-direction: column;
    align-content: center;
    font-family: "Overpass", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 200;
    margin: 12px 0;
}

.hiddenMemberInfo span {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 5px;
    /* letter-spacing: 0px; */
}

.hiddenMembersButtons {
    display: flex;
    flex-direction: column;
}

.hiddenMembersButtons button {
    font-family: "Overpass", Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    padding: 8px 14px;
    margin: 7px 0;
    font-weight: 700;
}

/* iPhone 6/7/8 plus */
@media (min-width:414px){
    .photoWrapper {
        display: block;
    }
    .nameMembership {
        margin: 0 36px;
    }
}

/* iPad */
@media (min-width:768px){    
    .MoreMemberInfoFlex{
        flex-direction: row;
    }

    .hiddenMemberInfo p{
        flex-direction: row;
        font-size: 18px;
        font-weight: 200;
        margin: 12px 0;
    }
}

/* Desktop */
@media (min-width:769px){
    .hiddenMemberInfo {
        margin-left: 111px;
    }
}