.tools {
    text-align: center;
    height:100vh;
}

.tools-grad {
    position: relative;
    background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.9));
    height:100%;
    width:100%;
}

.tools-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 250px;
    width: 100%;
}

.tools-content button{
    display: none;
}

.tools-content h2 {
    margin: 21px 0;
    color: white;
}

.tools-content p {
    color:white;
}

.tools-content img {
    width: 20%;
    margin-top: 5%;
}

/* iPhone 6/7/8 plus */
@media (min-width:414px){

}

/* iPad */
@media (min-width:768px){    
    .tools-content {
        width: 70%;
        margin: 0 auto;
    }

    .tools-content img {
        width: 15%;
        margin-top: 5%;
    }
}

/* Desktop */
@media (min-width:1440px){
    .tools-content {
        width: 80%;
        margin: 0 auto;
    }

    .tools-content img {
        width: 15%;
        margin-top: 5%;
    }

}