.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.contact-left {
    padding: 30px;
    background: #333;
    color: white;
}

.contact-left h2{
    color:white;
    margin-bottom:10px;
}

.contact-left h4{
    color:#ccc;
    font-size:14px;
    font-weight: 100;
    margin-bottom:20px;
    display: none;
}

.contact-left input {
    margin: 6px 0;
    background: #1a1a1a89;
    border: none;
    font-size:12px;
    color: #808080;
    padding: 21px;
    width:100%;
}

.contact-left button {
    font-size:18px;
    text-transform: uppercase;
    color: #999;
    text-align: center;
    width:100%;
    border: 1px solid rgb(24, 24, 24);
    margin: 16px 0;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    margin-top:20px;
    margin-bottom: 35px;
}

.contact-info p{
    font-size: 14px;
    color: #ccc;
    font-weight: 400;
    margin-bottom: 6px;
    margin-top: 2px;
}

address {
    font-size: 18px;
    color: white;
    font-weight: 400;
    line-height: 22px;
}

.contact-info a {
    text-decoration: none;
    color: white;
}

.contact-right {
    width:100%;
    display: none;
}

.contact-right img {
    width:210%;
    object-fit: cover;
}

/* iPhone 6/7/8 plus */
@media (min-width:414px){
    
}

/* iPad */
@media (min-width:768px){    
    .contact-left {
        width: 50%;
    }
    
    .contact-right {
        width: 50%;
        height: 559px;
        display: block;
        overflow: hidden;
    }

    .contact-img-wrapper {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}

/* Desktop */
@media (min-width:1440px){
    .contact-left {
        width: 50%;
    }
    
    .contact-right {
        width: 50%;
        height: 559px;
        display: block;
        overflow: hidden;
    }

    .contact-img-wrapper {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}