.woodshop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #f2f2f2
}

.woodshop-spacer{
    margin:13px;
}

.woodshop h2 {
    padding: 0 30px;
}

.woodshop h3 {
    padding: 0 30px;
    margin: 21px 0 0 0 ;
}

.woodshop p {
    padding: 0 30px;
}

/* iPhone 6/7/8 plus */
@media (min-width:414px){

}

/* iPad */
@media (min-width:768px){    

}

/* Desktop */
@media (min-width:1440px){
    .woodshop {
        width: 50%;
    }

}