.dashboardFlex {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.membersManager {
    background: #eeeeee;
    border-bottom:0.5px solid #80808080;
    padding-bottom: 1px;
    padding-top:56px;
    width: 100%;
}

.adminHeader {
    padding: 20px 50px;
    background: white;
    margin-bottom: 20px;
}

.adminHeader h2{
    margin: 5px 0;
}

/* iPhone 6/7/8 plus */
@media (min-width:414px){

}

/* iPad */
@media (min-width:768px){    
    .membersManager {
        width: 100%;
    }
}

/* Desktop */
@media (min-width:769px){
    .membersManager {
        width: calc(100% - 250px);
    }
}