.Welcome {
    background: url(../../../img/welcome_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
}

.WelcomeGradient {
    background: linear-gradient(to bottom right, rgba(0,0,0,0.6), rgba(0,0,0,0.8));
    height:100vh;
}

.WelcomePositioner {
    position: relative;
    top: -100vh;
    width: 100%;
    height:100vh;
}

.WelcomeContent {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    line-height: 36px;
    padding: 0 20px;
}

h1 {
    font-family: "Chivo", Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.WelcomeContent h2 {
    font-family: "Chivo", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    /* margin-top: 16px; */
    line-height: 28px;
    color:white;
}

.WelcomeContent button {
    font-family: "Chivo", Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: 1px solid white;
    background: transparent;
    margin-top: 100px;
}